html, body {
  height: 100%;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#router-view {
  height: 100%;
}

.main-content {
  flex: 1 0 auto;
}
